body {
    font-family: Arial, sans-serif;
}

h1 {
    font-weight: 600;
}

.card {
    border-radius: 10px;
}

table th {
    text-align: center;
}

table td {
    vertical-align: middle;
}

.btn-danger {
    transition: 0.2s ease;
}

    .btn-danger:hover {
        transform: scale(1.05);
    }

.btn-map {
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.2;
    border-radius: 4px;
    color:aqua;
}

.map-container {
    width: 100%;
    max-width: 500px;
    max-height: 500px;

    aspect-ratio: 1 / 1;
}